{{--  @if (name)
    <p>This is the {{ name }} that you have requested</p>
@else
 <p><h1>About page HERE!</h1></p>
@endif  --}}

<p>
    <h1>{{ name ? `This is the ${ name } that you have requested` : 'About page HERE!' }}</h1>
</p>
